orchestrators/kestra/pipeline_load_to_gcs.yaml
id: pipeline_load_to_gcs
namespace: epc.networks
concurrency:
     limit: 1
     behavior: QUEUE
     
tasks:
  - id: list_raw_data_files
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    script: |
      import os
      from kestra import Kestra

      ruta = '/app/data/raw/cdrs/'
      archivos = []
      if os.path.exists(ruta):
          archivos = [a for a in os.listdir(ruta) if a.lower().endswith('.json')]
          print(f'✅ Archivos encontrados: {archivos}')
      else:
          print('❌ No se encontró la ruta local')

      Kestra.outputs({"files": archivos})

  - id: process_files
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.list_raw_data_files.vars.files }}"
    tasks:
      - id: stage_file
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        outputFiles:
          - "{{ taskrun.value }}"
        script: |
          import shutil
          shutil.copy('/app/data/raw/cdrs/{{ taskrun.value }}', '{{ taskrun.value }}')

      - id: upload_to_gcs
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{ outputs.stage_file[taskrun.value].outputFiles[taskrun.value] }}"
        to: "gs://{{ kv('GCP_BUCKET_NAME') }}/bronze/batch/staging/{{ taskrun.value }}"

      - id: delete_staged_file
        type: io.kestra.plugin.core.storage.Delete
        uri: "{{ outputs.stage_file[taskrun.value].outputFiles[taskrun.value] }}"

      - id: move_to_processed
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        script: |
          import os
          import shutil

          raw_folder = '/app/data/raw/cdrs/'
          processed_folder = '/app/data/processed_cdrs/'
          fname = "{{ taskrun.value }}"

          os.makedirs(processed_folder, exist_ok=True)
          src = os.path.join(raw_folder, fname)
          dst = os.path.join(processed_folder, fname)

          try:
              shutil.move(src, dst)
              print(f'Archivo {fname} movido a {processed_folder}')
          except Exception as e:
              print(f'Error moviendo {fname}: {e}')

triggers:
  - id: schedule_every_15_min
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "*/15 * * * *"
    timezone: America/Bogota



pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{ kv('GCP_CREDS') }}"
      projectId: "{{ kv('GCP_PROJECT_ID') }}"
      location: "{{ kv('GCP_LOCATION') }}"
      bucket: "{{ kv('GCP_BUCKET_NAME') }}"
